@charset "utf-8"

/* clearfix */
.cf {zoom: 1;}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}

body {
    width: 100%;
    background-color: #fff;

}

header {
    height: 30px;
    text-align: center;
    color: #fff;
    background-color: #3fc;
    padding-top: 7px;
    margin-bottom: 20px;
}

main {
    width: 83%;
    margin: 0 auto;
    line-height: 1.3em;
}

section {
    margin-bottom: 20px;
}
aside > section {
    height: 130px;
    text-align: center;
    padding-top: 15px;
    background-color: #0ff;
}

article > section {
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}


footer {
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #000;
}