@charset "utf-8"

/* clearfix */
.cf {zoom: 1;}
.cf:before,
.cf:after {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}

/* ************************************************* */
/* 本練習素材は、モバイルファーストで作成している例です */
/* ************************************************* */


/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
   全デバイス共通とスマホ向け
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */

/* --------------------------------------------------
コンテナー 
---------------------------------------------------*/

/* --------------------------------------------------
ヘッダー 
---------------------------------------------------*/


/* --------------------------------------------------
グローバルナビ 
---------------------------------------------------*/


/* --------------------------------------------------
コンテンツ 
---------------------------------------------------*/


/* --------------------------------------------------
main
---------------------------------------------------*/


/* --------------------------------------------------
article
---------------------------------------------------*/


/* --------------------------------------------------
aside
---------------------------------------------------*/


/* --------------------------------------------------
information
---------------------------------------------------*/


/* --------------------------------------------------
topic
---------------------------------------------------*/


/* --------------------------------------------------
news
---------------------------------------------------*/


/* --------------------------------------------------
footer
---------------------------------------------------*/



/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
   PCおよび大型タブレット向け：769px～960px
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
@media screen and (min-width: 769px) {

}
/* /_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_
   PC向け：961px以上では固定
/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/_/ */
@media screen and (min-width: 961px) {
    
}


